h1, h2 {
  color: #fff;
  font-family: "lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 13px rgba(0, 0, 0, 0.4), 0 2px 6px rgba(0, 0, 0, 0.4);
  text-transform: uppercase; }

.itemlist li::before, .itemlist li::after {
  transition: opacity 0.35s, transform 0.35s;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0; }

.itemlist li::before {
  transform: scale(0, 1);
  border-bottom: 1px solid #313131;
  border-top: 1px solid #313131; }

.itemlist li:hover::before, .itemlist li:hover::after {
  transform: scale(1);
  opacity: 1; }

a:focus, a:hover {
  color: #fff;
  text-decoration: none; }

video {
  background: url("/assets/img/image-top-bg.jpg") no-repeat;
  background-size: cover;
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  width: auto;
  z-index: -100; }

.stopfade {
  opacity: .5; }

.imgtop {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1; }

@media screen and (max-device-width: 800px) {
  #bgvid {
    display: none; }
  .imgtop {
    display: block; } }

button,
.button {
  background: url("/assets/img/button-after.png") right 50% no-repeat, url("/assets/img/button.png") left 50% no-repeat #8d231d;
  background-color: #8d231d;
  background-size: contain, cover;
  border-radius: 7px;
  border: 0;
  box-shadow: inset 0 1px 0 #8d231d, 0 3px 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  padding: .78rem 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 3px #073542;
  text-transform: uppercase;
  transition: background-color 300ms ease-out; }
  button::after,
  .button::after {
    content: url("/assets/img/button.png") url("/assets/img/button-after.png") url("/assets/img/button-hover.png") url("/assets/img/button-after-hover.png");
    display: none; }
  button:hover,
  .button:hover {
    background: url("/assets/img/button-after-hover.png") right 50% no-repeat, url("/assets/img/button-hover.png") left 50% repeat #8d231d;
    color: #fff; }
  button:lang(fr),
  .button:lang(fr) {
    font-size: 20px; }

.panel-albion {
  background-color: transparent;
  border: 0;
  margin: 0; }
  .panel-albion.packs {
    background-color: transparent;
    box-shadow: none; }
  .panel-albion .panel-heading {
    border: 0;
    border-radius: 0;
    font-size: 0;
    padding: 0; }

.packs {
  background-color: #f5f5f5;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.4); }
  .packs .tab-content .col-sm-6:nth-of-type(1) {
    max-width: 32%; }
    .packs .tab-content .col-sm-6:nth-of-type(1):lang(ru) {
      max-width: 40%; }
  @media screen and (max-width: 1534px) {
    .packs .tab-content .col-sm-6:nth-of-type(1) {
      max-width: 40%; }
      .packs .tab-content .col-sm-6:nth-of-type(1):lang(ru) {
        max-width: 50%; } }
  @media screen and (max-width: 1202px) {
    .packs .tab-content .col-sm-6 .list-group-item {
      font-size: 12px; } }
  @media screen and (max-width: 1202px) {
    .packs .tab-content .col-sm-6 .list-group-item {
      font-size: 12px; } }
  .packs .nav-tabs > li,
  .packs .nav-pills > li {
    display: inline-block;
    float: none;
    zoom: 1; }
    .packs .nav-tabs > li a,
    .packs .nav-pills > li a {
      background-color: #dadad8;
      border: 0;
      color: #646464;
      font-size: 20px;
      line-height: 49px;
      margin: 0;
      min-width: 240px;
      padding: 5px 10px; }
      .packs .nav-tabs > li a:hover,
      .packs .nav-pills > li a:hover {
        border: 0; }
    .packs .nav-tabs > li.epic,
    .packs .nav-pills > li.epic {
      border-bottom: 0;
      border-left: gray 1px solid;
      border-right: gray 1px solid;
      border-top: 0; }
      .packs .nav-tabs > li.epic.active,
      .packs .nav-pills > li.epic.active {
        border: 0; }
    .packs .nav-tabs > li.active a,
    .packs .nav-pills > li.active a {
      background-color: #f5f5f5;
      border: 0;
      box-shadow: 0 -10px 10px -10px rgba(0, 0, 0, 0.4), 10px 0 10px -10px rgba(0, 0, 0, 0.4), -10px 0 10px -10px rgba(0, 0, 0, 0.4);
      color: #313131;
      font-size: 31px;
      line-height: 68px;
      padding: 6px 10px 0;
      text-transform: uppercase;
      z-index: 2; }
      .packs .nav-tabs > li.active a:hover,
      .packs .nav-pills > li.active a:hover {
        border: 0; }
  .packs .nav-tabs,
  .packs .nav-pills {
    border: 0;
    margin-left: 11%;
    text-align: center; }

@media screen and (max-width: 1860px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 13%; } }

@media screen and (max-width: 1738px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 17%; } }

@media screen and (max-width: 1591px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 20%; } }

@media screen and (max-width: 1527px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 22%; } }

@media screen and (max-width: 1464px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 25%; } }

@media screen and (max-width: 1456px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 26%; } }

@media screen and (max-width: 1442px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 26%; } }

@media screen and (max-width: 1300px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 29%; } }

@media screen and (max-width: 1286px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 31%; } }

@media screen and (max-width: 1282px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 31%; } }

@media screen and (max-width: 1278px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 31%; } }

@media screen and (max-width: 1206px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 33%; } }

@media screen and (max-width: 1199px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 20%; } }

@media screen and (max-width: 1094px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 20%; }
    .packs .nav-tabs li a,
    .packs .nav-pills li a {
      min-width: 223px; } }

@media screen and (max-width: 991px) {
  .packs .nav-tabs,
  .packs .nav-pills {
    margin-left: 0; }
  .packs .nav {
    padding-left: 2px;
    padding-right: 2px; }
    .packs .nav li {
      display: block;
      margin: 0;
      width: 100%; }
      .packs .nav li.epic {
        border: 0; }
      .packs .nav li a {
        width: 100%; }
      .packs .nav li.active {
        margin: 0;
        width: 100%; }
        .packs .nav li.active a {
          box-shadow: none; } }

@media screen and (max-width: 750px) {
  .panel-albion .panel-heading {
    margin: 0;
    padding: 0; }
  .packs .nav {
    padding-left: 2px;
    padding-right: 2px; }
    .packs .nav li {
      display: block;
      margin: 0; }
      .packs .nav li.active {
        margin: 0; }
        .packs .nav li.active a {
          box-shadow: none; } }

.popover {
  line-height: 18px;
  min-width: 200px;
  text-align: center; }

.footer {
  background: #1d2932 url("/assets/img/footer.png") bottom left;
  background-size: contain;
  color: #597288;
  margin-top: 50px;
  text-transform: uppercase; }
  .footer .col-sm-12:first-of-type(1) {
    float: left;
    width: 50%; }

.footer-headline {
  color: #597288;
  margin-bottom: 1em;
  margin-top: 1.5em; }

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-menu-item {
  font-size: 75%; }

.footer-menu-item-link {
  color: #597288;
  display: inline-block;
  padding: .4em 0; }
  .footer-menu-item-link:hover {
    color: #728ca2; }

.social-link {
  display: inline-block;
  margin-bottom: .625rem;
  margin-right: .625rem;
  max-width: 2.75rem; }

body {
  background-image: url("/assets/img/bg-paper.jpg");
  font-family: "lora", Georgia, Cambria, "Times New Roman", Times, serif; }

.container-fluid.main {
  padding: 0; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 0; }

header {
  height: 236px;
  margin-top: 26px;
  position: relative;
  z-index: 5; }
  header .logo {
    left: 50%;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  header a {
    border: 0;
    outline: none; }

h2 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 70px;
  margin-top: 0;
  text-transform: none; }

.priceblock {
  background-image: url("/assets/img/bg-paper.jpg");
  border-color: #333;
  -o-border-image: url("/assets/img/box-border-img-veteran.png") 9 round;
  border-image: url("/assets/img/box-border-img-veteran.png") 9 round;
  border-style: solid;
  border-width: 9px;
  box-shadow: inset 0 0 9px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  margin-top: 17px;
  min-height: 200px;
  padding-top: 25px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff; }
  .priceblock .icon {
    left: 50%;
    position: absolute;
    top: -50px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3; }
    .veteran .priceblock .icon {
      top: -85px; }
  .priceblock .name {
    font-family: "lora", Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 46px;
    margin-bottom: 0; }
    .priceblock .name:lang(ru) {
      font-size: 43px; }
  .priceblock .price {
    color: #313131;
    font-family: "lora", Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 0; }

.legendary .priceblock,
.epic .priceblock {
  border-color: #ffd700;
  -o-border-image: url("/assets/img/box-border-img-legendary.png") 9 round;
  border-image: url("/assets/img/box-border-img-legendary.png") 9 round; }

.legendary .icon,
.epic .icon {
  top: -85px; }

.legendary .name,
.epic .name {
  font-size: 48px;
  line-height: 48px;
  margin-top: 14px;
  word-spacing: 286px; }
  .legendary .name:lang(de),
  .epic .name:lang(de) {
    font-size: 44px; }
  .legendary .name:lang(ru),
  .epic .name:lang(ru) {
    font-size: 43px; }
    .veteran .legendary .name:lang(ru), .veteran
    .epic .name:lang(ru) {
      font-size: 43px; }

.legendary .price,
.epic .price {
  font-size: 25px; }

.epic .priceblock {
  border-color: #8d231d;
  -o-border-image: url("/assets/img/box-border-img.jpg") 9 round;
  border-image: url("/assets/img/box-border-img.jpg") 9 round; }

@media screen and (max-width: 1785px) {
  .legendary .name {
    font-size: 38px; }
    .legendary .name:lang(de) {
      font-size: 35px; }
    .legendary .name:lang(ru) {
      font-size: 30px;
      line-height: 30px; }
      .veteran .legendary .name:lang(ru) {
        font-size: 30px; }
  .epic .name:lang(ru) {
    font-size: 30px;
    line-height: 30px; }
  .veteran .name {
    font-size: 40px; }
    .veteran .name:lang(de) {
      font-size: 35px; }
    .veteran .name:lang(ru) {
      font-size: 30px;
      line-height: 30px; } }

@media screen and (max-width: 1542px) {
  .priceblock .name {
    font-size: 27px;
    line-height: 42px; } }

@media screen and (max-width: 1508px) {
  .priceblock .name {
    font-size: 33px; }
    .priceblock .name:lang(de) {
      font-size: 30px; } }

@media screen and (max-width: 1408px) {
  .priceblock .name {
    font-size: 32px; } }

@media screen and (max-width: 1393px) {
  .priceblock .name {
    font-size: 32px; }
    .priceblock .name:lang(de) {
      font-size: 29px; }
    .priceblock .name:lang(ru) {
      font-size: 25px; }
      .veteran .priceblock .name:lang(ru) {
        font-size: 25px; } }

@media screen and (max-width: 1325px) {
  .priceblock .name {
    font-size: 30px; }
    .priceblock .name:lang(de) {
      font-size: 28px; } }

@media screen and (max-width: 1279px) {
  .priceblock .name {
    font-size: 27px;
    word-spacing: 600px; }
    .priceblock .name:lang(de) {
      font-size: 24px;
      word-spacing: 600px; } }

@media screen and (max-width: 1020px) {
  .legendary .name {
    font-size: 37px; }
    .legendary .name:lang(de) {
      font-size: 34px; } }

@media screen and (max-width: 991px) {
  .priceblock {
    margin-top: 60px;
    min-height: initial; }
    .priceblock .name {
      word-spacing: normal; }
      .priceblock .name:lang(de) {
        word-spacing: normal; } }

.button {
  font-size: 30px;
  width: 100%; }

.list-group-item {
  background-color: transparent;
  border: 0;
  clear: both;
  display: inline-block;
  float: left;
  font-size: 13px;
  margin: 13px;
  padding: 5px;
  text-transform: uppercase;
  width: auto; }
  .list-group-item:first-child {
    border-radius: 0;
    margin: 13px; }
  .list-group-item:last-child {
    border-radius: 0;
    margin: 13px; }

.thief {
  background-image: url("/assets/img/thief_bg.png");
  background-position: 79% 20%;
  background-repeat: no-repeat; }

.warrior {
  background-image: url("/assets/img/warrior_bg.png");
  background-position: 85% 50%;
  background-repeat: no-repeat; }

.mage {
  background-image: url("/assets/img/mage_bg.png");
  background-position: 83% 20%;
  background-repeat: no-repeat; }

@media screen and (max-width: 991px) {
  .mage {
    background-position: 126% -160%; }
  .warrior {
    background-position: 106% 16%; }
  .thief {
    background-position: 120% 310%; }
  .tab-content .col-md-9 {
    padding-left: 20%; } }

@media screen and (max-width: 767px) {
  .mage {
    background-position: 140px 240px; }
  .warrior {
    background-position: 20px -50px; }
  .thief {
    background-position: 270px 240px; }
  .packs .tab-content {
    overflow: hidden; }
    .packs .tab-content .col-sm-6:nth-of-type(1) {
      max-width: none; }
      .packs .tab-content .col-sm-6:nth-of-type(1):lang(ru) {
        max-width: none; }
    .packs .tab-content .col-sm-6 .itemlist {
      float: left;
      left: 50%;
      margin: 0;
      position: relative; }
    .packs .tab-content .col-sm-6::after {
      clear: both;
      content: '';
      display: block; }
    .packs .tab-content .col-sm-6 .list-group-item {
      display: inline-block;
      float: left;
      font-size: 14px;
      margin: 15px auto;
      min-width: 267px;
      position: relative;
      left: -120px;
      max-width: 70%; }
    .packs .tab-content .col-md-9 {
      padding-left: 0; } }

.itemlist li {
  position: relative; }
  .itemlist li .octicon {
    color: #3f921e;
    font-size: 35px;
    left: -28px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .itemlist li.nocheck .octicon {
    color: #ff0505;
    font-size: 35px;
    left: -28px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
