//Links
a {
  &:focus,
  &:hover  {
    color: $main-color-font;
    text-decoration: none;
    }
}

//Video background
video {
  background: url('/assets/img/image-top-bg.jpg') no-repeat;
  background-size: cover;
  height: auto;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 40%;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  width: auto;
  z-index: -100;
}

.stopfade {
  opacity: .5;
}

.imgtop {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media screen and (max-device-width: 800px) {
  #bgvid {
    display: none;
  }

  .imgtop {
    display: block;
  }
}

//Buttons
button,
.button {
  background: url('/assets/img/button-after.png') right 50% no-repeat, url('/assets/img/button.png') left 50% no-repeat $albion-red;
  background-color: $albion-red;
  background-size: contain, cover;
  // border-color: $albion-red;
  border-radius: 7px;
  // border-style: solid;
  // border-width: 2px;
  border: 0;
  box-shadow: inset 0 1px 0 $albion-red, 0 3px 5px $shadow-tone;
  color: $main-color-font;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  padding: .78rem 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 3px $button-text-shadow;
  text-transform: uppercase;
  transition: background-color 300ms ease-out;

  &::after {
    content: url('/assets/img/button.png') url('/assets/img/button-after.png') url('/assets/img/button-hover.png') url('/assets/img/button-after-hover.png');
    display: none;
  }

  &:hover {
    background: url('/assets/img/button-after-hover.png') right 50% no-repeat, url('/assets/img/button-hover.png') left 50% repeat $albion-red;
    color: $main-color-font;
  }

  &:lang(fr) {
    font-size: 20px;
  }
}

//Navigation Tabs
.panel-albion {
  background-color: transparent;
  border: 0;
  margin: 0;

  &.packs {
    background-color: transparent;
    box-shadow: none;
  }

  .panel-heading {
    border: 0;
    border-radius: 0;
    font-size: 0;
    padding: 0;
  }
}

.packs {
  background-color: $package-color;
  box-shadow: 0 0 32px $shadow-tone;

.tab-content {
    .col-sm-6{

      &:nth-of-type(1) {
        max-width: 32%;

        &:lang(ru) {
          max-width: 40%;
        }
  }
}
}

@media screen and (max-width: 1534px) {
  .tab-content {
      .col-sm-6{

        &:nth-of-type(1) {
          max-width: 40%;

          &:lang(ru) {
            max-width: 50%;
          }
    }
  }
  }
}

@media screen and (max-width: 1202px) {
  .tab-content {
      .col-sm-6{
          .list-group-item {

            font-size:12px;
          }
  }
  }
}

@media screen and (max-width: 1202px) {
  .tab-content {
      .col-sm-6{
          .list-group-item {

            font-size:12px;
          }
  }
  }
}

  .nav-tabs > li,
  .nav-pills > li {
    display: inline-block;
    float: none;
    zoom: 1;

    a {
      background-color: hsl($hue: 51, $saturation: 3%, $lightness: 85%);
      border: 0;
      color: lighten($dark-color-font, 20%);
      font-size: 20px;
      line-height: 49px;
      margin: 0;
      min-width: 240px;
      padding: 5px 10px;

      &:hover {
        border: 0;
      }
    }

    &.epic {
      border-bottom: 0;
      border-left: lighten($albion-grey, 30%) 1px solid;
      border-right: lighten($albion-grey, 30%) 1px solid;
      border-top: 0;

      &.active {
        border: 0;
      }
    }

    &.active {
      a {
        background-color: $package-color;
        border: 0;
        box-shadow:  0 -10px 10px -10px $shadow-tone, 10px 0 10px -10px $shadow-tone, -10px 0 10px -10px $shadow-tone;
        color: $dark-color-font;
        font-size: 31px;
        line-height: 68px;
        padding: 6px 10px 0;
        text-transform: uppercase;
        z-index: 2;

        &:hover {
          border: 0;
          // padding: 4px 10px;
        }

      }
    }
  }

  .nav-tabs,
  .nav-pills {
    border: 0;
    margin-left: 11%;
    text-align: center;
  }
}
@media screen and (max-width: 1860px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 13%;
    }
  }
}



@media screen and (max-width: 1738px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 17%;
    }
  }
}

@media screen and (max-width: 1591px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 20%;
    }
  }
}

@media screen and (max-width: 1527px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 22%;
    }
  }
}

@media screen and (max-width: 1464px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 25%;
    }
  }
}

@media screen and (max-width: 1456px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 26%;
    }
  }
}

@media screen and (max-width: 1442px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 26%;
    }
  }
}


@media screen and (max-width: 1300px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 29%;
    }
  }
}
@media screen and (max-width: 1286px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 31%;
    }
  }
}

@media screen and (max-width: 1282px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 31%;
    }
  }
}

@media screen and (max-width: 1278px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 31%;
    }
  }
}

@media screen and (max-width: 1206px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 33%;
    }
  }
}

@media screen and (max-width: 1199px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 20%;
    }
  }
}

@media screen and (max-width: 1094px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 20%;

      li {
      a {
        min-width: 223px;
      }
      }
    }
  }
}


@media screen and (max-width: 991px) {
  .packs {
    .nav-tabs,
    .nav-pills {
      margin-left: 0;
    }
  }

  .packs {
    .nav {
      padding-left: 2px;
      padding-right: 2px;

      li {
        display: block;
        margin: 0;
        width: 100%;

        &.epic {
          border: 0;
        }
        a {
          width: 100%;
        }

        &.active {
          margin: 0;
          width: 100%;

          a {
            box-shadow: none;
          }

      }
    }
  }
}
}

@media screen and (max-width: 750px) {

  .panel-albion {

    .panel-heading {
      margin: 0;
      padding: 0;
  }
}

  .packs {
    .nav {
      padding-left: 2px;
      padding-right: 2px;

      li {
        display: block;
        margin: 0;

        &.active {
          margin: 0;

          a {
            box-shadow: none;
          }
        }
      }
    }
  }
}

// Item Popups
.popover {
  line-height: 18px;
  min-width: 200px;
  text-align: center;
}

// Footer
.footer {
  background: $footer-bg url('/assets/img/footer.png') bottom left;
  background-size: contain;
  color: $footer;
  margin-top: 50px;
  text-transform: uppercase;

  .col-sm-12{
    &:first-of-type(1) {
      float: left;
      width: 50%;
    }
  }
}

.footer-headline {
  color: $footer;
  margin-bottom: 1em;
  margin-top: 1.5em;
}

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  font-size: 75%;
}

.footer-menu-item-link {
  color: $footer;
  display: inline-block;
  padding: .4em 0;

  &:hover {
    color: lighten($footer, 10%);
  }
}

.social-link {
  display: inline-block;
  margin-bottom: .625rem;
  margin-right: .625rem;
  max-width: 2.75rem;
}
