// Colors
$main-color-font: #fff;
$dark-color-font: #313131;
$shadow-tone: rgba(0, 0, 0, .4);
$package-color: #f5f5f5;
$albion-red: #8d231d;
$albion-gold: #ffd700;
$albion-grey: #333;
$button-text-shadow: #073542;
$color-check: #3f921e;
$footer-bg: #1d2932;
$footer: #597288;


@mixin transition($values...) {
  $transitions: ();
  @each $declaration in $values {
    $prop: nth($declaration, 1);
    $prop-opts: ();
    $length: length($declaration);
    @for $i from 2 through $length {
      $prop-opts: append($prop-opts, nth($declaration, $i));
    }
    $trans: ($prop, $prop-opts);
    $transitions: append($transitions, $trans, comma);
  }

  transition: $values;
}

@mixin scale($ratio...) {
  transform: scale($ratio);
}

//Fonts
$lora: 'lora', Georgia, Cambria, 'Times New Roman', Times, serif;

// Headings
%heading {
  color: $main-color-font;
  font-family: $lora;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0 13px $shadow-tone, 0 2px 6px $shadow-tone;
  text-transform: uppercase;
}

//Hover Effect
$hover-effect-speed: .35s !default;

.itemlist li {
  &::before,
  &::after {
    @include transition(opacity $hover-effect-speed, transform $hover-effect-speed);

    bottom: 0;
    content: '';
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::before {
    @include scale(0, 1);
    border-bottom: 1px solid $dark-color-font;
    border-top: 1px solid $dark-color-font;
  }

  &:hover {

    &::before,
    &::after {
      @include scale(1);
      opacity: 1;
    }
  }
}
