@import 'variables';
@import 'elements';


// Base Style
body {
  background-image: url('/assets/img/bg-paper.jpg');
  font-family: $lora;
}

.container-fluid {
  &.main {
    padding: 0;
  }
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 0;
}


//Site Header
header {
  height: 236px;
  margin-top: 26px;
  position: relative;
  z-index: 5;

  .logo {
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

  a {
    border: 0;
    outline: none;
}
}

h1 {
  @extend %heading;
}

h2 {
  @extend %heading;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 70px;
  margin-top: 0;
  text-transform: none;
}

//Price Blocks
.priceblock {
  background-image: url('/assets/img/bg-paper.jpg');
  border-color: $albion-grey;
  border-image: url('/assets/img/box-border-img-veteran.png') 9 round;
  border-style: solid;
  border-width: 9px;
  box-shadow: inset 0 0 9px 1px $shadow-tone;
  margin-bottom: 10px;
  margin-top: 17px;
  min-height: 200px;
  padding-top: 25px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 $main-color-font;


  .icon {
    left: 50%;
    position: absolute;
    top: -50px;
    transform: translateX(-50%);
    z-index: 3;

    .veteran & {
      top: -85px;
    }
  }

  .name {
    font-family: $lora;
    font-size: 50px;
    font-weight: bold;
    line-height: 46px;
    margin-bottom: 0;

    &:lang(ru) {
      font-size: 43px;
    }
  }

  .price {
    color: $dark-color-font;
    font-family: $lora;
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 0;
  }
}

.legendary,
.epic {

  .priceblock {
    border-color: $albion-gold;
    border-image: url('/assets/img/box-border-img-legendary.png') 9 round;
  }

  .icon {
    top: -85px;
  }

  .name {
    font-size: 48px;
    line-height: 48px;
    margin-top: 14px;
    word-spacing: 286px;

    &:lang(de) {
      font-size: 44px;
    }

    &:lang(ru) {
      font-size: 43px;

      .veteran & {
        font-size: 43px;
      }
    }
  }

  .price {
    font-size: 25px;
  }
}


.epic {

  .priceblock {
    border-color: $albion-red;
    border-image: url('/assets/img/box-border-img.jpg') 9 round;
  }
}

@media screen and (max-width: 1785px) {
  .legendary {
    .name {
      font-size: 38px;

      &:lang(de) {
        font-size: 35px;
      }

      &:lang(ru) {
        font-size: 30px;
        line-height: 30px;

        .veteran & {
          font-size: 30px;
        }
      }
  }
  }

  .epic {
    .name {
      &:lang(ru) {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }

  .veteran {
    .name {
      font-size: 40px;

      &:lang(de) {
        font-size: 35px;
      }

      &:lang(ru) {
        font-size: 30px;
        line-height: 30px;
      }
  }
  }
}
@media screen and (max-width: 1542px) {
  .priceblock {
    .name {
      font-size: 27px;
      line-height: 42px;
    }
  }
}
@media screen and (max-width: 1508px) {
  .priceblock {
    .name {
      font-size: 33px;

      &:lang(de) {
        font-size: 30px;
      }
  }
}
}

@media screen and (max-width: 1408px) {
  .priceblock {
    .name {
      font-size: 32px;
  }
}
}



@media screen and (max-width: 1393px) {
  .priceblock {
    .name {
      font-size: 32px;

      &:lang(de) {
        font-size: 29px;
      }

      &:lang(ru) {
        font-size: 25px;
        .veteran & {font-size: 25px;}
      }

      }
}
}

@media screen and (max-width: 1325px) {
  .priceblock {
    .name {
      font-size: 30px;

      &:lang(de) {
        font-size: 28px;
      }
    }
}
}

@media screen and (max-width: 1279px) {
  .priceblock {
    .name {
      font-size: 27px;
      word-spacing: 600px;

      &:lang(de) {
        font-size: 24px;
        word-spacing: 600px;
      }
  }
}
}


@media screen and (max-width: 1020px) {
  .legendary {
    .name {
      font-size: 37px;

      &:lang(de) {
        font-size: 34px;
      }
  }
  }
}


@media screen and (max-width: 991px) {
  .priceblock {
    margin-top: 60px;
    min-height: initial;

    .name {
      word-spacing: normal;

      &:lang(de) {
        word-spacing: normal;
      }
    }
  }
}

.button {
  font-size: 30px;
  width: 100%;
}

.list-group-item {
  background-color: transparent;
  border: 0;
  clear: both;
  display: inline-block;
  float: left;
  font-size: 13px;
  margin: 13px;
  padding: 5px;
  text-transform: uppercase;
  width: auto;

  &:hover,
  &:active {
    //box-shadow: inset 0px 1px 0px 0px $dark-color-font, inset 0px -1px 0px 0px $dark-color-font;
  }

  &:first-child {
    border-radius: 0;
    margin: 13px;
  }

  &:last-child {
    border-radius: 0;
    margin: 13px;
  }

}


// Box Images per-class

.thief {
  background-image: url('/assets/img/thief_bg.png');
  background-position: 79% 20%;
  background-repeat: no-repeat;
}

.warrior {
  background-image: url('/assets/img/warrior_bg.png');
  background-position: 85% 50%;
  background-repeat: no-repeat;
}

.mage {
  background-image: url('/assets/img/mage_bg.png');
  background-position: 83% 20%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
  .mage {
    background-position: 126% -160%;
  }

  .warrior {
    background-position: 106% 16%;
  }

  .thief {
    background-position: 120% 310%;
  }

  .tab-content {
    .col-md-9{
      padding-left: 20%;
    }
  }
}

@media screen and (max-width: 767px) {
  .mage {
    background-position: 140px 240px;
  }

  .warrior {
    background-position: 20px -50px;
  }

  .thief {
    background-position: 270px 240px;
  }

  .packs {
    .tab-content {

      overflow: hidden;;

      .col-sm-6 {
        &:nth-of-type(1) {
          max-width: none;
          &:lang(ru) {max-width: none;}
        }
        .itemlist {
          float: left;
          left: 50%;
          margin: 0;
          position: relative;
        }

        &::after {
          clear: both;
          content: '';
          display: block;
        }
        .list-group-item {
          display: inline-block;
          float: left;
          font-size: 14px;
          //left: -50%;
          margin: 15px auto;
          //max-width: none;
          min-width: 267px;
          position: relative;
          left: -120px;
          max-width: 70%;
        }
    }

      .col-md-9 {
        padding-left: 0;
      }

  }
  }
}

.itemlist {
  li {
    position: relative;

    .octicon  {
      color: $color-check;
      font-size: 35px;
      left: -28px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }

    &.nocheck {

      .octicon  {
        color: change-color($color-check, $red: 255, $green: 5, $blue: 5);
        font-size: 35px;
        left: -28px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
  }
}
}
